# IMPORTANT: This file is only a template, you must create a .env file in the same directory and copy the content of this file to the new file.

# Need to Create a .env.development file for development environment Path: src/environments/.env.development
# Need to Create a .env.production file for production environment Path: src/environments/.env.production


NODE_ENV=development

# Node.js server configuration
SERVER_PORT=4000

# Api configuration
API_PREFIX=api
API_VERSION=v1

# Data Base configuration
MONGODB_URI=

# SMTP configuration
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_ALIAS=

# JWT configuration
JWT_SECRET=
JWT_SECRET_REFRESH_TOKEN=
NAME_STORAGE_TOKEN_JWT=
